<div class="page-header" align="center">
  <h1 class="silver">todos</h1>
</div>

<div class="container">

  <%# NEW TODO %>
  <%= form_with model: @todo do |form| %>
    <div class="input-group mb-3">
      <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
      <%= form.text_field :content, class: "form-control", placeholder: "New item" %>
      <span class="input-group-btn"><%= form.submit :Add, class: "btn btn-primary width-70" %></span>
    </div>
  <% end %>

  <%# SEARCH TAGS %>
  <% if !@todos.blank? %>
    <%= form_with url: add_search_tag_todos_path do |form| %>
      <div class="input-group mb-2">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <%= form.text_field :search_tag, class: "form-control", placeholder: "Search tags" %>
        <span class="input-group-btn"><%= form.submit :Search, class: "btn btn-primary width-70" %></span>
      </div>
    <% end %>
  <% end %>

  <%# SHOW SEARCH TAGS %>
  <% if !@search_tags.blank? %>
    Searching for: 
    <% @search_tags.sort.each do |search_tag| %>
      <span class="badge badge-info badge-pill">
        <%= search_tag %>
        <%= form_with url: remove_search_tag_todos_path, class: "form-inline" do |form| %>
          <%= form.hidden_field :search_tag, value: search_tag %>
          <%= form.submit '&times;'.html_safe, class: "light-cross" %>
        <% end %>
      </span>
    <% end %>
    <br/>
  <% end %>

  <br/>

  <%# TODOS %>
  <div class="list-group">
    <% if !@search_tags.blank? && @filtered_todos.blank? %>
      No results found.
    <% end %>
    <% @filtered_todos.each do |todo| %>
      <div class="list-group-item to-hover clearfix">
        <%= button_to complete_todo_path(todo), class: "close", method: :patch, remote: true, form: {class: "pull-left mr-2"} do %>
          <span class="glyphicon <% if todo.complete %>glyphicon-check<% else %>glyphicon-unchecked<% end %>"></span>
        <% end %>
        <%= button_to priority_todo_path(todo), class: "close", method: :patch, remote: true, form: {class: "pull-left mr-2"} do %>
          <span class="glyphicon <% if todo.priority %>glyphicon-star orange<% else %>glyphicon-star-empty<% end %>"></span>
        <% end %>
        <span class="pull-left mt-1 <% if todo.complete %>silver strike<% end %>">
          <%= todo.content %>
        </span>
        <button type="button" class="close ml-2 no-float to-show pull-left" data-toggle="modal" data-target="#edit_modal_<%= todo.id %>">
          <small><span class="glyphicon glyphicon-pencil"></span></small>
        </button>
        <%= button_to todo_path(todo), class: "close", method: :delete, remote: true, form: {class: "pull-right ml-2"} do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        <button type="button" class="close pull-right ml-4" data-toggle="modal" data-target="#tag_modal_<%= todo.id %>">
          <span class="glyphicon glyphicon-tags"></span>
        </button>
        <% todo.tags.sort.reverse.each do |tag| %>
          <span class="badge badge-info badge-pill mt-1">
            <%= tag %>
            <%= form_with model: todo, url: remove_tag_todo_path(todo), class: "form-inline" do |form| %>
              <%= hidden_field_tag 'tag', tag %>
              <%= form.submit '&times;'.html_safe, class: "light-cross" %>
            <% end %>
          </span>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# EDIT MODALS %>
  <% @filtered_todos.each do |todo| %>
    <div id="edit_modal_<%= todo.id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Content</h4>
          </div>
          <div class="modal-body">
            <%= form_with model: todo do |form| %>
              <div class="input-group">
                <%= form.text_field :content, class: "form-control", placeholder: "Content" %>
                <span class="input-group-btn"><%= form.submit :Edit, class: "btn btn-primary" %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# TAG MODALS %>
  <% @filtered_todos.each do |todo| %>
    <div id="tag_modal_<%= todo.id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Tag</h4>
          </div>
          <div class="modal-body">
            <%= form_with model: todo, url: add_tag_todo_path(todo) do |form| %>
              <div class="input-group">
                <%= text_field_tag 'tag', '', class: "form-control", placeholder: "Tag" %>
                <span class="input-group-btn"><%= form.submit :Add, class: "btn btn-primary" %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>