<div class="page-header" align="center">
  <h1 class="silver">todos</h1>
</div>

<div class="container">

  <%# NEW TODO %>
  <%= form_with model: @todo do |form| %>
    <div class="input-group mb-3">
      <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
      <%= form.text_field :content, class: "form-control", placeholder: "New item" %>
      <span class="input-group-btn"><%= form.submit :Add, class: "btn btn-primary width-70" %></span>
    </div>
  <% end %>

  <%# SEARCH TAGS %>
  <% if !@todos.blank? %>
    <%= form_with url: add_search_tag_todos_path do |form| %>
      <div class="input-group mb-2">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        <%= form.text_field :search_tag, class: "form-control", placeholder: "Search tags" %>
        <span class="input-group-btn"><%= form.submit :Search, class: "btn btn-primary width-70" %></span>
      </div>
    <% end %>
  <% end %>

  <%# SHOW SEARCH TAGS %>
  <% if !@search_tags.blank? %>
    Searching for: 
    <% @search_tags.sort.each do |search_tag| %>
      <span class="badge badge-info badge-pill">
        <%= search_tag %>
        <%= form_with url: remove_search_tag_todos_path, class: "form-inline" do |form| %>
          <%= form.hidden_field :search_tag, value: search_tag %>
          <%= form.submit '&times;'.html_safe, class: "light-cross" %>
        <% end %>
      </span>
    <% end %>
    <br/>
  <% end %>

  <br/>

  <%# TODOS %>
  <% if !@search_tags.blank? && @filtered_todos.blank? %>
    No results found.
  <% elsif !@filtered_todos.blank? %>
    <div class="list-group list-group-root well">
      <% @filtered_todos.each do |todo| %>
        <a class="list-group-item list-group-item-action to-hover clearfix pointer"
           data-toggle="collapse" data-target="#todo_collapse_<%= todo.id %>">
          <%# CHECKBOX %>
          <%= button_to complete_todo_path(todo), class: "close block", method: :patch, remote: true, form: {class: "pull-left mr-2"} do %>
            <span class="glyphicon <% if todo.complete %>glyphicon-check<% else %>glyphicon-unchecked<% end %>"></span>
          <% end %>
          <%# STAR %>
          <%= button_to priority_todo_path(todo), class: "close block", method: :patch, remote: true, form: {class: "pull-left mr-2"} do %>
            <span class="glyphicon <% if todo.priority %>glyphicon-star orange<% else %>glyphicon-star-empty<% end %>"></span>
          <% end %>
          <%# CONTENT %>
          <span class="pull-left block mt-1 <% if todo.complete %>silver strike<% end %>">
            <%= todo.content %>
          </span>
          <%# EDIT %>
          <button type="button" class="close block ml-2 no-float to-show pull-left" data-toggle="modal" data-target="#edit_modal_<%= todo.id %>">
            <small><span class="glyphicon glyphicon-pencil"></span></small>
          </button>
          <%# DELETE %>
          <%= button_to todo_path(todo), class: "close block", method: :delete, remote: true, form: {class: "pull-right ml-3"} do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
          <%# TAGS %>
          <button type="button" class="close block pull-right ml-4" data-toggle="modal" data-target="#tag_modal_<%= todo.id %>">
            <span class="glyphicon glyphicon-tags"></span>
          </button>
          <% todo.tags.sort.reverse.each do |tag| %>
            <span class="badge badge-info badge-pill block mt-1">
              <%= tag %>
              <%= form_with model: todo, url: remove_tag_todo_path(todo), class: "form-inline" do |form| %>
                <%= hidden_field_tag 'tag', tag %>
                <%= form.submit '&times;'.html_safe, class: "light-cross" %>
              <% end %>
            </span>
          <% end %>
        </a>
        <div class="collapse" id="todo_collapse_<%= todo.id %>">
          <div class="list-group-item">
            <% if todo.description.blank? %>
              <i class="silver">No description added</i>
            <% else %>
              <%= simple_format(todo.description) %>
            <% end%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%# EDIT MODALS %>
  <% @filtered_todos.each do |todo| %>
    <div id="edit_modal_<%= todo.id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Todo</h4>
          </div>
          <div class="modal-body">
            <%= form_with model: todo, class: "form-horizontal" do |form| %>
              <div class="form-group">
                <%= form.label :content, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= form.text_field :content, class: "form-control autofocus", placeholder: "Content" %>
                </div>
              </div>
              <div class="form-group">
                <%= form.label :description, class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= form.text_area :description, rows: 8, class: "form-control no-resize", placeholder: "Description" %>
                </div>
              </div>
              <%= form.submit :Edit, class: "btn btn-block btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# TAG MODALS %>
  <% @filtered_todos.each do |todo| %>
    <div id="tag_modal_<%= todo.id %>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Tag</h4>
          </div>
          <div class="modal-body">
            <%= form_with model: todo, url: add_tag_todo_path(todo) do |form| %>
              <div class="input-group">
                <%= text_field_tag 'tag', '', class: "form-control autofocus", placeholder: "Tag" %>
                <span class="input-group-btn"><%= form.submit :Add, class: "btn btn-primary" %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>